* {
  padding: 0;
  margin: 0;
}
#root {
  height: 100vh;
}
.container {
  height: 100%;

}
.App {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 500px;
  max-width: 800px;
  /* justify-content: center; */
}
.body-container {
  background-color: #fbe7c0;
  /* max-width: 500px; */
  height: 100%;
  display: flex;
  justify-content: center;
}